@charset "utf-8";
/* CSS Document */
body{ font-family:"Lantinghei SC","Helvetica Neue",Helvetica,sans-serif; font-size: 16px;font-style: normal; line-height: 22px; font-weight: normal; font-variant: normal; color:#333;}
body,html,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input{margin:0;padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
a{ outline-style:none; text-decoration:none; border:0px;}
a:hover,.more:hover,.essay_hot a:hover{ text-decoration:none; color:#2a9724;}
input,select,textarea{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666;outline:none}
input{ border:0}
img{border:0;}
li{list-style-type:none; vertical-align:0}
.hidden{display:none;}
.fleft{float:left}
.fright{float:right}
.pr{ position:relative;}
.pa{ position:absolute}
.clear{ clear:both; height:0; line-height:0; overflow:hidden; font-size:0;}
textarea{resize: none;}
.font_12{ font-size:12px;}
.font_14{ font-size:14px;}
.font_16{ font-size:16px;}
.font_18{ font-size:18px}
.font_22{font-size: 22px;}
.fbold{ font-weight:700}
.dis_inline{ display:inline}
.hidden{ overflow:hidden;}
/*public stop here*/
.head{ width:100%; padding:15px 0; background:rgba(255, 255, 255, 0.95); position:fixed; top:0; border-bottom:1px solid #ccc; z-index:99;}
.header{ max-width:980px; padding:0 10px;  margin:0 auto;}
.my_picture{ width:15%; margin:0px auto; border-radius:50%; overflow:hidden;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom:10px;}
.my_picture img{ width:100%; display:block;}
.information{ padding:20px 0;}
.information p{ text-align:center; line-height:30px; text-shadow:#CCC 0 0px 1px;}
.header h1{ height:40px; line-height:40px; float:left; font-weight:400; }
.myname{font-size:2.5rem;font-family:"PingHei","STHeiti SC","SimHei";}
.myjob{ font-size:1rem; font-weight:100; color:#666;}
.header .connect_me{ padding-top:20px; line-height:20px; float:right; font-size:14px;}
.myqq{ background:url(../images/u=875664823,842931080&fm=58.png) no-repeat; background-size:16px; padding-left:20px; margin-right:10px;}
.myemail{ background:url(../images/u=3841101908,752694355&fm=58.jpg) no-repeat; padding-left:20px;}
.main{ max-width:980px; padding:0 10px; padding-bottom:80px; margin:0 auto; margin-top:80px;}
.myskills{ width:100%;}
.myskills ul li{width:50%; padding:20px 0; float:left;}
.myskills ul li .img {border-radius: 4px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);float: left;margin: 0 1em 0.5em 0;overflow: hidden;position: relative;
text-align: center;width: 60px; float:left;}
.myskills ul li .img::before {background: rgba(247, 98, 98, 0.8) none repeat scroll 0 0;box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);content: "";height: 40px;left: -5px;overflow: hidden;
position: absolute;top: 0;transform: skewX(-45deg);width: 24px;}
.myskills ul li img{ width:100%; display:block; border-radius:4px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);}
.common_h3{font-family:"PingHei","STHeiti SC","SimHei"; font-size:1.5rem; line-height:50px; font-weight:400;}
.detail{ width:70%; float:left;}
.detail h3{ width:100%; color:#1f8dd6; margin-bottom:5px;}
.detail p{width:100%; font-size:0.8rem; line-height:20px;}
.workExperience{ padding:20px 0; font-size:1rem;}
.company_logo{ width:114px; float:left;}
.work_detail{ width:60%;  padding:10px 0;padding-left:5%; float:left; line-height:25px;}
.work_detail p{ padding: 5px 0;}
.project{ padding:15px 0;}
.project ul li{ padding: 5px 0; margin-bottom:10px;}
.project a{ width:200px; font-size:1.2rem; margin-bottom:10px; display:block;  color:#0b83ba;transition: all 0.7s ease 0s; }
.project a:hover{ color:rgba(247, 98, 98, 0.8);}
.project .workjob{ padding-left:10px; color:#777; line-height:25px;}
.project .descripe{padding-left:10px; line-height:25px;}
.project .descripe.red{ color:rgba(247, 98, 98, 0.8);}
.demo_link{ background-color:#22c3aa; display:block; width:100px; height:100px; color:#FFF; text-align:center; line-height:100px; border-radius:50%; transition:all 0.7s ease 0s; margin-top:20px; }
.demo_link:hover{ color:#FFF; opacity:0.7; filter:alpha(opacity=70);}
@media screen and (max-width: 525px) {
.main{ max-width:980px; margin:0 auto; margin-top:120px;}
}
@media screen and (max-width: 780px) {   
.myskills ul li{width:100%; padding:20px 0; float:left;}
.header .connect_me{ padding-top:20px; line-height:20px; float:left; font-size:14px;}
.work_detail{ width:auto; padding:0 10px;}
}  
